[global]
netbios name = HOMELAB
workgroup = WORKGROUP
server string = HOMELAB Samba Server
server role = standalone
map to guest = bad user
usershare allow guests = yes

[share]
comment = Public File Sharing
path = /media
browseable = yes
read only = no
inherit permissions = yes
valid_user = ubuntu

